In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import random

In [2]:
combats = pd.read_csv('./Python/Data/combats.csv')
pokemons = pd.read_csv('./Python/Data/pokemon.csv')
tests = pd.read_csv('./Python/Data/tests.csv')

In [3]:
combats.head()

   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151

In [4]:
pokemons.loc[(pokemons['#'] == 266) | (pokemons['#'] == 298)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
265,266,Larvitar,Rock,Ground,50,64,50,45,50,41,2,False
297,298,Nuzleaf,Grass,Dark,70,70,40,60,40,60,3,False

In [5]:
pokemons.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [6]:
print('pokemons_set: ' + str(pokemons.shape))
print('combats: ' + str(combats.shape))

pokemons_set: (800, 12)
combats: (50000, 3)

In [7]:
pokemons.isnull().sum()

#               0
Name            1
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [8]:
combats.isnull().sum()

First_pokemon     0
Second_pokemon    0
Winner            0
dtype: int64

In [9]:
pokemons[pokemons['Name'].isnull()]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
62,63,NaN,Fighting,NaN,65,105,60,60,70,95,1,False

Pokedex info
https://bulbapedia.bulbagarden.net/wiki/List_of_Pok%C3%A9mon_by_National_Pok%C3%A9dex_number

In [10]:
pokemons['Name'][62] = 'Primeape'

/Users/satrya/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
'''second_wins = combats.loc[combats['Second_pokemon'] == combats['Winner']]
second_winners = second_wins.groupby(['Second_pokemon','Winner'])
second_winners.count()'''

"second_wins = combats.loc[combats['Second_pokemon'] == combats['Winner']]\nsecond_winners = second_wins.groupby(['Second_pokemon','Winner'])\nsecond_winners.count()"

In [12]:
total_first_pokemons = combats.groupby('First_pokemon').count()
total_second_pokemons = combats.groupby('Second_pokemon').count()
total_winners = combats.groupby('Winner').count()

In [13]:
print("total first pokemons: " + str(total_first_pokemons.shape))
print("total second pokemons: " + str(total_second_pokemons.shape))
print("total pokemons that won: " + str(total_winners.shape))

total first pokemons: (784, 2)
total second pokemons: (784, 2)
total pokemons that won: (783, 2)

In [28]:
poke_loser = np.setdiff1d(total_first_pokemons.index.values, total_winners.index.values)
#print(poke_loser[0])
print(pokemons.loc[pokemon['#'] == poke_loser[0]])

NameError: name 'pokemon' is not defined