In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt
import seaborn as sns
#from sklearn import train_test_split

In [2]:
# load data
combats = pd.read_csv('./Python/Data/combats.csv')
pokemons = pd.read_csv('./Python/Data/pokemon.csv')
tests = pd.read_csv('./Python/Data/tests.csv')

In [5]:
pokemons.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [15]:
pokemons.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [7]:
combats.head()

   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151

In [47]:
# return stats of 2 pokemons
def get_fight_stats(pokid_1, pokid_2):
    # get pokemons stats by id
    pok1 = pokemons.loc[(pokid_1-1), ['HP','Attack','Defense']]
    pok2 = pokemons.loc[(pokid_2-1), ['HP','Attack','Defense']]
    # put stats in 1 row
    pok_fight_stats = pd.concat([pok1, pok2])
    
    return pok_fight_stats

In [31]:
pok1 = pokemons.loc[(266-1),['HP','Attack','Defense']]
pok2 = pokemons.loc[(2-1),['HP','Attack','Defense']]

In [51]:
# create train 
for i in range(0,10):
    print(combats[i,])

KeyError: (0,)

In [46]:
test = get_fight_stats(266,2)
test

HP         50
Attack     64
Defense    50
HP         50
Attack     64
Defense    50
Name: 265, dtype: object

In [9]:
# target to predict
# 0: First(attacking) pokemon won, 1: Second(attacked) pokemon won
y_pred['Winner'] = np.where(combats['First_pokemon'] == combats['Winner'], 0, 1)

In [14]:
# Sanitize check
print(y_pred['Winner'][1:10])
combats.head(10)

[1 1 1 0 0 1 1 1 1]

   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151
5            657             752     657
6            192             134     134
7             73             545     545
8            220             763     763
9            302              31      31

50000